@using StudyForum.WEB.Utils
@model StudyForum.WEB.ViewModels.ProfileViewModel

@{
    ViewBag.Title = "Profile";
}

<div class="central-content">
    <div class="row">   
        <div class="col-md-6">
            <div style="margin: 20px;">
                <h4>@Model.FullName</h4>
                <h4>@Model.Email</h4>
            </div>
            
            <div style="margin: 20px;">
                @Html.ActionLink("Мой репозиторий", "UserRepository", "Repository", null, new { style = "font-size: 16px;" })
            </div>
            
            @if (Model.Group != null)
            {
                <div style="margin: 20px;">
                    @Html.ActionLink(Model.Group.Name, "", "", new {groupId = Model.Group.Id}, new { style = "font-size: 16px;" })
                </div>
            }

        </div>
        <div class="col-md-6">
            <div class="row">
                <div class="bordered" style="margin: 10px; margin-right: 15px">
                    <h4>Мои темы:</h4>
                    <ol>
                        @foreach (var theme in Model.Themes)
                        {
                            <li>@Html.ActionLink(theme.Title, "Theme", "Theme", new {themeId = theme.Id}, null)</li>
                        }
                    </ol>
                </div>
            </div>
            <div class="row">
                <div class="bordered" style="margin: 10px; margin-right: 15px">
                    <h4>Мои предметы:</h4>
                    <ol>
                        @foreach (var subject in Model.Subjects)
                        {
                            <li>@Html.ActionLink(subject.Name, "Themes", "Theme", new {subjectId = subject.Id}, null)</li>
                        }
                    </ol>
                </div>
            </div>
        </div>
    </div>
</div>

