@using StudyForum.WEB.Utils
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</head>
<body>
    <nav class="navbar navbar-fixed-top">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <a class="navbar-brand navbar-logo" href="/">StudyForum</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav"></ul>
                <ul class="nav navbar-nav navbar-right">
                    @*<li><img src="~/Content/Img/user.png" class="img-responsive img-thumbnail navbar-avatar pull-right" alt="user"></li>*@
                    <li>
                        @if (User.Identity.IsAuthenticated)
                        {
                            <div class="dropdown">
                                <button class="btn btn-link dropdown-toggle navbar-user" type="button" data-toggle="dropdown">@User.Identity.Name
                                    <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu">
                                    <li>@Html.ActionLink("Профиль", "Index", "Profile")</li>
                                    <li>@Html.ActionLink("Выход", "SignOut", "Account")</li>
                                </ul>
                            </div>
                        }
                        else
                        {
                            @Html.ActionLink("Войти", "SignIn", "Account", null, new {@class = "navbar-user"})
                        }
                    </li>
                </ul>   
            </div>
        </div>
    </nav>
    <div class="row">
        <div class="col-md-3 fill-background"></div>
        <div class="col-md-6">
            <div class="body-content">
                @RenderBody()
            </div>
        </div>
        <div class="col-md-3 fill-background">
            @if (User.Identity.IsAuthenticated)
            {
                @Html.Partial("_RepositorySide", Guid.Parse(User.GetClaim("RepositoryId")))
            }
        </div>
    </div>
</body>
</html>
